.children-0 {
	margin-left: 0;
}
.children-1 {
	margin-left: 20px;
}
.children-2 {
	margin-left: 40px;
}
.children-3 {
	margin-left: 60px;
}
.children-4 {
	margin-left: 80px;
}
.children-5 {
	margin-left: 100px;
}
.children-6 {
	margin-left: 120px;
}
.research_area {
	margin-top: 10px;
}